html {
  font-family: "Roboto Condensed", sans-serif;
}
.page {
  min-height: 100vh;
  display: flex;
  background-color: rgb(94, 219, 219);
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.black {
  min-height: 100vh;
  display: flex;
  background-color:#f1f1f1;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
