.fullpage{
    background-color: aqua;
    width: 100%;
    height: 100%;
}
.firstSection{
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    background-color: rgb(94, 219, 219);
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondSection{
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    background-color: rgb(243, 232, 75);
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thirdSection{
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    background-color: rgb(72, 34, 122);
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}